<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-5.15.4/css/all.min.css">
</head>
<body>
    <div class="app">
        <header class="header">
            <!-- <div class="grid">
                <div class="header__nav">
                    <ul class="nav__left-list">
                        <li class="nav__item nav__item-separate">
                            <i class="fas fa-headphones-alt"></i>
                            Support
                        </li>
                        <li class="nav__item">
                            <i class="fas fa-envelope"></i>
                            support@gmail.com
                        </li>
                    </ul>
                    <ul class="nav__right-list">
                        <li class="sign-in nav__item btn">
                            <span class="btn_span"></span>
                            <i class="fas fa-user"></i>
                            <p class="btn__title">Sign In</p>
                          
                        </li>
                        <li class="sign-up nav__item btn">
                            <span class="btn_span"></span>
                            <i class="fas fa-user"></i>
                            <p class="btn__title">Sign Up</p>
                        </li>
                    </ul>
                </div>    
            </div> -->

            <div class="header__menu">
                <a href="../index.html">
                    <img class="logo" src="../assets/img/logo-removebg-preview.png" alt="">
                </a>
                <ul class="menu__list">
                    <a class="menu__link" href="">
                        <li class="menu__item">ABOUT</li>
                    </a>
                    <a href="affiliate.html" class="menu__link">
                        <li class="menu__item">AFFILIATE</li>
                    </a>
                    <a href="result.html" class="menu__link">
                        <li class="menu__item">MY TICKET</li>
                    </a>
                    <a href="checkresult.html" class="menu__link">
                        <li class="menu__item">CHECK RESULT</li>
                    </a>
                </ul>
            
            </div>
        </header>
        <div class="hero">
            <div class="grid">
                <div class="container">
                    <div class="left__img">
                        <h1 class="title">ABOUT US</h1>
                        <ul class="lead__list">
                            <li class="lead__item">
                                <i class="fas fa-home"></i>
                                Home
                            </li>
                            <li class="lead__item">
                                <i class="fas fa-chevron-right"></i>
                            </li>
                            <li class="lead__item">
                                About Us
                            </li>
                        </ul>
                    </div>
                    <div class="right__img">
                        <img src="../assets/img/about/about.png" class="about__image" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="about__us">
            <div class="about__container">
                <div class="grid__row">
                    <div class="col-6">
                        <div class="about__video">
                            <img class="about__video-img" src="../assets/img/about/about-video-bg.jpg" alt="">
                            <a href="#" class="play__video">
                                <img src="../assets/img/about/play-icon-red.png" alt="">
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-6">
                        <div class="section-heading">
                            <h5 class="subtitle">OUR JOURNEY IN A NUTSHELL</h5>
                            <h2 class="title">ABOUT ETM JACKPOT</h2>
                            <p class="text">ETM Jackpot is a unique cryptogames providing pleasant pastime. 
                                We offer our members to play Provably Fair games and some bonus games,
                                 join contests, achieve various awards.</p>
                            <p class="text">ETM Jackpot is a unique cryptogames providing pleasant pastime. 
                                We offer our members to play Provably Fair games and some bonus games,
                                 join contests, achieve various awards.</p>
                        </div>
                        <div class="btn-pink btn btn__read">
                            <p class="btn__title">READ MORE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="fea__container">
                <div class="grid__row center">
                    <div class="col-8">
                        <div class="section-heading">
                            <div class="subtitle">AN EXHAUSTIVE LIST OF</div>
                            <div class="title">AMAZING FEATURES</div>
                            <p class="text">t’s up to the competition in features, with some unique advantages.All the latest crypto games.Here are some of them.</p>
                        </div>
                    </div>
                    <div class="grid__row">
                        <div class="col-12">
                            <div class="features__box">
                                <div class="features__box-inner">
                                    <div class="grid__row">
                                        <div class="col-6">
                                            <div class="single-feature">
                                                <div class="single-feature-icon">
                                                    <img src="../assets/img/about/icon1.png" alt="" class="feature-icon-img">
                                                </div>
                                                <div class="feature-content">EXCLUSIVE BONUSES</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="single-feature">
                                                <div class="single-feature-icon">
                                                    <img src="../assets/img/about/payout.png" alt="" class="feature-icon-img">
                                                </div>
                                                <div class="feature-content">INSTANT PAYOUT</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="single-feature">
                                                <div class="single-feature-icon">
                                                    <img src="../assets/img/about/icon2.png" alt="" class="feature-icon-img">
                                                </div>
                                                <div class="feature-content">PROVABLY FAIR</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="single-feature">
                                                <div class="single-feature-icon">
                                                    <img src="../assets/img/about/security.png" alt="" class="feature-icon-img">
                                                </div>
                                                <div class="feature-content">SECURE PLAYING</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="single-feature">
                                                <div class="single-feature-icon">
                                                    <img src="../assets/img/about/reward.png" alt="" class="feature-icon-img">
                                                </div>
                                                <div class="feature-content">REWARDS</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="single-feature">
                                                <div class="single-feature-icon">
                                                    <img src="../assets/img/about/icon3.png" alt="" class="feature-icon-img">
                                                </div>
                                                <div class="feature-content">24/7 SUPPORT</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="community-blog">
            <div class="cmm_container">
                <div class="grid__row">
                    <div class="col-6">
                        <div class="cmm-box">
                            <div class="img">
                                <img src="../assets/img/about/community-icon.png" alt="">
                            </div>
                            <div class="cmm__content">
                                <div class="title">
                                    COMMUNITY
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                                <div class="text">Find answers, support, and inspiration from other Jeugo users.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="cmm-box">
                            <div class="img">
                                <img src="../assets/img/about/blog-icon.png" alt="">
                            </div>
                            <div class="cmm__content">
                                <div class="title">
                                    BLOGS
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                                <div class="text">Find answers, support, and inspiration from other Jeugo users.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__content">
                JACKPOT is a brand name of Ethersmart Gaming N.V. 18+ to play, email: support@gmail.com
            </div>
            <div class="coppyrigth">Copyright © 2021.All Rights Reserved By 
                <a href="#">HIHIHIH</a>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(e){
            $('.btn').on('mouseenter',function(e){
                x = e.pageX - $(this).offset().left;
                y = e.pageY - $(this).offset().top;
                $(this).find('span').css({top:y , left:x})
            })
            
            $('.btn').on('mouseout',function(e){
                x = e.pageX - $(this).offset().left;
                y = e.pageY - $(this).offset().top;
                $(this).find('span').css({top:y , left:x})
            })
        })
    </script>
    <script src="../assets/js/app.js"></script>
</body>
</html>